<!DOCTYPE html>
<html>
<head>
	<title>
		Welcome to Elephant!
	</title>
	{% block javascripts %}
	<script src="{{ asset('bundles/serverweb/js/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/serverweb/js/bootstrap.min.js') }}" type="text/javascript"></script>
	{% endblock %}
	{% block stylesheets %}
	<link href="{{ asset('bundles/serverweb/css/bootstrap.css') }}" type="text/css"
rel="stylesheet" />
	<link href="{{ asset('bundles/serverweb/css/channel.css') }}" type="text/css"
rel="stylesheet" />
    {% endblock %}
	<script>
	function getCode() {
		var name = "john";
		$.get('../api/initiate'
			, {name : name})
			.success(function(data) {
			var url = '../channel/';
			var form = $('<form action="' + url + '" method="post">' +
			  '<input type="text" name="code" value="' + data + '" />' +
			  '<input type="text" name="name" value="' + name + '" />' +
			  '</form>');
			$('body').append(form);
			$(form).submit();
		});
	}
	</script>
</head>

<body>
	<h1> You have created a new Chat! </h1>
	<h2> Your unique code is {{app.request.get('code')}}</h2>
	<script>
	var recognition = new webkitSpeechRecognition();
	var name = "{{app.request.get('name')}}";
	var channel = "{{app.request.get('code')}}";
		
	function start() {
			recognition.continuous = true;
			recognition.interimResults = true;
			recognition.start();
		}

	recognition.onresult = function (event) {
		for (var i = event.resultIndex; i < event.results.length; ++i) {
			body = $('body');
	        if (event.results[i].isFinal) {
	        	value = event.results[i][0].transcript;
	       
	        	if (value) {
		            $.get('../api/postMessage'
		            	, {		name : name
		            		,	channel : channel 
		            		,	message : event.results[i][0].transcript})
		            .success(function(data) {
		            	$('#chat').empty();
		            	for(var i = 0; i < data.length; i++) {
		            		$('#chat').append("<div class='chat-entry'>"
		            							+ "<span class='entry-name'>"
		            							+		data[i].name
		            							+ "</span>"
		            							+ "<span class='entry-message'>"
		            							+		data[i].message
		            							+ "</span>"
		            							+"</div>");
		            		console.log(data[i].name);
		            	}
		            });
		        }
	        }
	    }
	};
	</script>
	<button onclick="start();">start!</button>
	
	<div id="chat"></div>
</body>
</html>